.alert {
  color: #fff;
  width: 300px;
  height: 40px;
  border-radius: 4px;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  position: fixed;
  right: 0;
  top: 0;
}

.alert .close {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    background-color: #868eca;
  }
}

.success {
  background-color: rgba(50, 205, 50, 0.7);
}

.danger {
  background-color: rgba(218, 27, 27, 0.7);
}
