<!-- <p-button label="show" (click)="isShow = true"></p-button>
<app-casual
  title="this is title"
  [visible]="isShow"
  (closed)="onClosed($event)"
  (sure)="onSure()"
></app-casual>

<div class="title">{{ title }}</div> -->

<!-- <div>{{ name }}</div>
<div>{{ getAge() }}</div>

<div>{{ 1 + 2 + 3 * 9 }}</div>
<div>{{ isPass ? "通过" : "失败" }}</div> -->

<!-- <img [src]="logo" alt="{{ logoName }}" />
<img bind-src="logo" bind-alt="logoName" />

<div [attr.vgri-title]="'vgri'">this is vgri</div>
<div [attr.title]="'this is title'">title vgri</div>

<tbody>
  <tr>
    <td>11</td>
    <td>12</td>
  </tr>
  <tr>
    <td [colSpan]="2">11</td>
    <td>12</td>
  </tr>
</tbody>

<p-button
  label="Submit"
  [disabled]="isDisabled"
  (click)="changeBgColor()"
></p-button> -->

<!-- 绑定单个类 -->

<!-- <h2 [class.text]="undefined">this is a h2</h2> -->

<!-- 绑定多个类 -->
<!-- <h2 [class]="multipleClass1">this is multiple h2-1</h2>
<h2 [class]="multipleClass2">this is multiple h2-2</h2>
<h2 [class]="multipleClass3">this is multiple h2-2</h2> -->

<!-- 绑定单个样式 -->
<!-- <h2
  [style.color]="'red'"
  [style.width]="'100px'"
  [style.height.px]="'100'"
  [style.backgroundColor]="'black'"
>
  this is single style rule
</h2> -->

<!-- 绑定多个样式 -->
<!-- <h2 [style]="multipleStyles1">multiple style1</h2>
<h2 [style]="multipleStyles3">multiple style3</h2> -->

<!-- 基本双向绑定 -->
<!-- <app-sizer [(size)]="size"></app-sizer> -->

<!-- ngIf -->
<!-- <app-if></app-if> -->

<!-- ng-switch -->
<!-- <app-switch></app-switch> -->

<!-- ng-for -->
<!-- <app-for></app-for> -->

<!-- 模板引用变量 -->
<!-- <app-tpl-var></app-tpl-var> -->

<!-- 模板运算符 -->
<!-- <app-tpl-operators></app-tpl-operators> -->

<!-- 属性型指令 -->
<!-- <div [appHighlight]="'red'" [vgriColor]="'blue'">属性型指令的创建与使用</div> -->

<!-- 结构型指令 -->
<!-- <app-structural-directives></app-structural-directives> -->

<!-- TemplateRef EmbeddedViewRef ViewContainerRef -->
<!-- <app-tpl-container></app-tpl-container> -->

<!-- NgTemplatePutlet -->
<!-- <app-tpl-outlet [renderTpl]="render"></app-tpl-outlet>

<ng-template #render let-def let-n="name">
  <h2>这是传入的TemplateRef {{ def }} -- {{ n }}</h2>
</ng-template> -->

<!-- ng-content 组件投影 -->
<!-- <app-tpl-content>
  <strong middle>
    <i>this is middle content</i>
  </strong>
  <h3 class="top-content">this is top content</h3>
  <h3 class="bottom-content">this is bottom content</h3>
</app-tpl-content> -->

<!-- ViewChild 与 ViewChildren -->
<!-- <app-view-child></app-view-child> -->

<!-- ContentChild 与 ContentChildren -->
<!-- <app-content-child>
  <div #inner>this is inner</div>
  <div #inner>this is inner</div>
  <div class="wrapper">
    <div #inner>this is inner</div>
    <div #inner>this is inner</div>
  </div>

  <h2 [appHighlight]="'lime'">Content child 获取指令</h2>
  <h2 [appHighlight]="'lime'">Content child 获取指令</h2>

  <app-grand-content></app-grand-content>
  <app-grand-content #grandChild></app-grand-content>
  <app-grand-content #grandChild></app-grand-content>

  <div>
    <app-grand-content #grandChild></app-grand-content>
  </div>
</app-content-child> -->

<!-- 有条件的内容投影 -->
<!-- <app-example-zippy>
  <ng-template #temTpl>
    <h3>It depends on what you do with it.</h3>
  </ng-template>
  <h2 #title>this is h2</h2>
  <app-review-casual></app-review-casual>
</app-example-zippy> -->

<!-- 管道 -->
<!-- <app-vgri-pipe></app-vgri-pipe> -->

<!-- 生命周期函数 -->
<!-- <app-life-cycle></app-life-cycle> -->

<!-- 变更检测 -->
<!-- <app-change-detection [title]="'嫦娥title'"></app-change-detection> -->

<!-- 组件样式 -->
<!-- <app-cpn-style class="active"></app-cpn-style> -->

<!-- 动态组件 -->
<!-- <app-alert-wrapper></app-alert-wrapper> -->

<!-- 4 依赖注入 -->
<!-- <app-use-service></app-use-service> -->

<!-- review -->
<app-review>
  <!-- <h2 class="header" #title>this is header</h2>

  <div class="body">
    <h2 #title>this is body</h2>
    <app-review-casual></app-review-casual>
    <app-review-casual></app-review-casual>
    <app-review-casual></app-review-casual>
    <h3 [appHighlight]="'yellow'">this is directive</h3>
    <app-review-casual #reviewCasual></app-review-casual>
    <app-review-casual #reviewCasual></app-review-casual>
  </div>

  <app-review-casual #reviewCasual></app-review-casual>

  <h2 class="footer" #title>this is footer</h2>
  <h3 [appHighlight]="'yellow'">this is directive</h3> -->
</app-review>
