<!-- <p-button label="show" (click)="isShow = true"></p-button>
<app-casual
  title="this is title"
  [visible]="isShow"
  (closed)="onClosed($event)"
  (sure)="onSure()"
></app-casual>

<div class="title">{{ title }}</div> -->

<!-- <div>{{ name }}</div>
<div>{{ getAge() }}</div>

<div>{{ 1 + 2 + 3 * 9 }}</div>
<div>{{ isPass ? "通过" : "失败" }}</div> -->

<!-- <img [src]="logo" alt="{{ logoName }}" />
<img bind-src="logo" bind-alt="logoName" />

<div [attr.vgri-title]="'vgri'">this is vgri</div>
<div [attr.title]="'this is title'">title vgri</div>

<tbody>
  <tr>
    <td>11</td>
    <td>12</td>
  </tr>
  <tr>
    <td [colSpan]="2">11</td>
    <td>12</td>
  </tr>
</tbody>

<p-button
  label="Submit"
  [disabled]="isDisabled"
  (click)="changeBgColor()"
></p-button> -->

<!-- 绑定单个类 -->

<!-- <h2 [class.text]="undefined">this is a h2</h2> -->

<!-- 绑定多个类 -->
<!-- <h2 [class]="multipleClass1">this is multiple h2-1</h2>
<h2 [class]="multipleClass2">this is multiple h2-2</h2>
<h2 [class]="multipleClass3">this is multiple h2-2</h2> -->

<!-- 绑定单个样式 -->
<!-- <h2
  [style.color]="'red'"
  [style.width]="'100px'"
  [style.height.px]="'100'"
  [style.backgroundColor]="'black'"
>
  this is single style rule
</h2> -->

<!-- 绑定多个样式 -->
<!-- <h2 [style]="multipleStyles1">multiple style1</h2>
<h2 [style]="multipleStyles3">multiple style3</h2> -->

<!-- 基本双向绑定 -->
<!-- <app-sizer [(size)]="size"></app-sizer> -->

<!-- ngIf -->
<app-if></app-if>
